@using Corporate.Shared.Models.Employees.Data
@using Corporate.Shared.Models.Employees.Details
@using MauiApplication.Services.Authentication;

@inject AuthStateProvider Sp;

@if (Employees.Count != 0)
{
    <div class="shift-status-container">
        
        <div class="shift-list-container">
            @foreach (var emp in Employees)
            {
                <div class="list-item @(Available ? "" : "inactive") @(SelectedEmployeeUId == emp.UId ? "selected" : "")"
                     @onclick="async () => await HandleClick(emp.UId)">
                    @if (emp.UId == _userUId)
                    {
                        <div class="user-highlight"></div>
                    }
                    <div class="item-status">
                        <span class="status-icon @StatusMap[emp.Status].Item1"></span>
                    </div>
                    <div class="item-content">
                        <span>@emp.Name</span>
                        <span class="status-name">@(emp.StatusComment ?? StatusMap[emp.Status].Item2)</span>
                    </div>
                    
                </div>
            }
        </div>
    </div>
}

@code {
    /// <summary>
    /// список сотрудников для отрисовки
    /// </summary>
    [Parameter]
    public List<EmployeeListDataRecord> Employees { get; set; }
    /// <summary>
    /// Флаг доступности по смене
    /// </summary>
    [Parameter]
    public bool Available { get; set; }
    /// <summary>
    /// Заголовок активности
    /// </summary>
    [Parameter]
    public string Title { get; set; }
    /// <summary>
    /// Выбранный сотрудник
    /// </summary>
    [Parameter]
    public Guid SelectedEmployeeUId { get; set; }
    /// <summary>
    /// Обратный вызов выбранного сотрудника
    /// </summary>
    [Parameter]
    public EventCallback<Guid> EmployeeSelected { get; set; }
    /// <summary>
    /// Вызов доп инфо
    /// </summary>
    [Parameter]
    public EventCallback CallInfo { get; set; }
    /// <summary>
    /// Словарь статусов сотрудника
    /// </summary>
    [Parameter]
    public Dictionary<EmployeeStatus, (string, string)> StatusMap { get; set; }

    private Guid? _lastClickedUId;
    private DateTime _lastClickedTime;
    private const int DoubleTapTime = 350;
    private Guid _userUId;
    
    
    private async Task HandleClick(Guid employeeUId)
    {
        var now = DateTime.Now;
        if (_lastClickedUId == employeeUId && (now - _lastClickedTime).TotalMilliseconds < DoubleTapTime)
        {
            _lastClickedUId = null;
            await CallInfo.InvokeAsync();
            return;

        }
        _lastClickedUId = employeeUId;
        _lastClickedTime = now;
        await EmployeeSelected.InvokeAsync(employeeUId);
    }

    protected override async Task OnInitializedAsync()
    {
        var state = await Sp.GetAuthenticationStateAsync();
        var uIdString = state.User.Claims.FirstOrDefault(c => c.Type == "nameid")?.Value;
        Guid.TryParse(uIdString, out _userUId);
        
        await  base.OnInitializedAsync();
    }

}